<div class="container">
<br>
<h1 class="text-primary">Create a New Workout</h1>
<br>
</div>
<%= render partial: "layouts/errors", locals: { object: @workout } %>

<div class="container">
<%= render "form" %>
</div>
