<br>
<h1 class="text-primary text-center">How to Use Circuit Trainer</h1>
<br><br>
<div class="container">


<ol class="text-primary" style="font-size:30px;">
  <li>Create a workout using the link above. There, you will be able to create a workout name, description, and goal for circuits. You may edit the workout at any time if you decide to lower or increase the intended circuit size.</li>
  <li>Look for or create an exercise along with the number of reps.</li>
  <li>Once you've figured out which exercises you would like to perform, add them to a circuit using the link above. There, you will find the workout you created in the dropdown menu and you can add the circuit to the appropriate workout.</li>
</ol>




</div>