
<br>
<h2 class="text-primary text-center">Videos</h2>
<br><br>
<div class="container">
<div class="row">
  <div class="col"><p><iframe width="355" height="200" src="https://www.youtube.com/embed/R6gZoAzAhCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="355" height="200" src="https://www.youtube.com/embed/qudd1PE1UrQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  </div>
  <div class="col"><p><iframe width="355" height="200" src="https://www.youtube.com/embed/hnf9VTBc_Dk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  <p><iframe width="355" height="200" src="https://www.youtube.com/embed/O1Oo9DScWhQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
  </div>
</div>
<h2 class="text-primary text-center">Written Guides</h2>
<br>
<div class="list-group">
  <a href="https://www.webmd.com/fitness-exercise/a-z/circuit-training" class=" text-center list-group-item list-group-item-action">Circuit Training Explained</a>
  <a href="https://www.shape.com/fitness/workouts/how-build-perfect-circuit-workout" class="text-center list-group-item list-group-item-action">How To Build a Routine</a>
  <a href="https://www.nerdfitness.com/blog/circuit-training-build-some-muscles-burn-some-fat/" class="text-center list-group-item list-group-item-action">Circuit Training Examples</a>
</div>
</div>
<br><br><br>

