<h1>Resources</h1>
<br><br>
<%= link_to 'Example Circuit Training Routines', 'https://www.nerdfitness.com/blog/circuit-training-build-some-muscles-burn-some-fat/' %> 
<br><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/R6gZoAzAhCg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>